<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <title>Write post</title>
</head>

<body>
  <div class="container">
    <div class="content">
      <form class="write-form">
        <div>
          <input type="text" id="myText" placeholder="Blog title" />
        </div>
        <div>
          <textarea id="blogpost" type="text" placeholder="Write text here..."></textarea>
        </div>
      </form>
      <button class="button" id="submit">post</button>
    </div>
  </div>
  <script type="text/javascript" src="../JS/ajax.js"></script>
</body>

</html>