<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write post</title>
</head>
<body>
    <form>
          <div>
            <label>Blog title</label>
            <input type = "text"
                   id = "myText"
                   value = "text here" />
          </div>
          <div>
            <label>Write blogpost</label>
            <textarea id="blogpost"></textarea>
        </div>
      </form>
      <button id="submit">test</button>
      <script type="text/javascript" src="../JS/ajax.js"></script> 
</body>
</html>