<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login_form">
            <form>
                <div>Username</div>
                <div><input id="username" type="text"></div>
                <div>Password</div>
                <div><input id="password" type="text"></div>
                <input id="submit" type="submit" value="submit">
            </form>
        </div>
    </div>

    <script src="../JS/ajax.js"></script>
</body>
</html>