<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <title>SK Blog</title>
</head>
<body>
    <!--Choose better CSS class names that are more standard-->
    <div class="main">
        <div class="head">
            <!--All text in these views should be retrieved from JS objects later-->
            <h1>SK blog</h1>
            <h2>My travles and experiences as an exchange student in S.kore</h2>
        </div>
        <div class="content">
            <!--How should this be represented? choose a design pattern or something-->
            <div class="post">
                <h1>Post one</h1>
                <div class="post_content">
                    <p>All the text in a blogpost here.
                        maybe an image too.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>