* {
    padding: 0;
    margin:0;
}

/*Should I use a CSS library?*/

.container {
    display: flex;
    flex-direction: row;
}

.side-col{
    background-color: rgba(34, 33, 33, 0.5);
    flex: 20%;
}

.content {
    background-color: rgba(104, 104, 104, 0.5);
    flex: 80%;
}